h1 {
    color: #0318fc; 
    text-align: center;
    font-size: 35px;
    width: 100%;
}

/* Universal Selector */
/* * {
    color: rgb(250, 21, 21);
    margin: 0px;
    padding: 0px; 
} */

/* Tag/Element Selector */
small {
    display: inline-block;
    text-indent: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
    color: rgb(230, 17, 166);
    font-size: 24px;
    font-style: italic;
}

/* Attribute Selector */
a[title="google"] {
    color: rgb(235, 42, 67);
}

/* Id Selector */
#idselector {
    color: rgb(240, 226, 27);
}

/* Class Selector */
.class-selector {
    color: rgb(72, 211, 30);
    font-size: x-large;
    word-spacing: 20px;
    line-height: 30px;
}

/* Desc Selector */
.desc a{
    color: rgb(224, 51, 201);
}

.child>a{
    color: rgb(15, 189, 174);
}

/* Pseudo */
a:link {
    color: red;
}
a:hover {
    color: green;
    letter-spacing: 10px;
}
a:active {
    color: yellow;
}
a:visited {
    color: rgb(36, 39, 233);
}

:target {
    color: rgb(73, 26, 184);
    border: 1px solid black;
}

/* Border */

.border1 {
    border: 3px double rgb(36, 99, 236);
} 

.bordertwo {
    border-right: 2px solid red;
}

.border-width {
    border-width: thin;
    border-style: dashed;
}

.borderstyle {
    border-style: dashed;
    /* all four T / B / L / R */
    /* border-style: dashed solid; */
    /* T&B / L&R */
    /* border-style: double solid dotted; */
    /* T / L&R / B */
    border-style: dotted double solid dashed;
    /* T / B / L / R */
}