@font-face {
    font-family: Courgette;
    src: url(../Courgette/Courgette-Regular.ttf);
}

.bag {
    height: 50px;
    margin: -20px 10px 10px 10px;
    font-weight: unset;
    font-family: Courgette;
    text-align: center;
}

.cart {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 23px;
}

.cart1 {
    margin: 20px 20px 30px 20px;
    width: 90%;
    height: 250px;
    border: 1px solid black;
    background-color: white;
}

.cart_img {
    float: left;
    width: 230px;
    height: 200px;
    object-fit: cover;
    padding: 22px 20px 0px 20px;
}

.cartone {
    padding: 35px 0px 0px 10px;
    line-height: 35px;
}

.cartone h2 {
    font-weight: unset;
    font-size: 18px;
}

.cartone a {
    text-decoration: none;
    font-size: 20px;
    color: #fc548c;
}

.cart1_clear {
    clear: both;
}

.table_h1 {
    font-family: Courgette;
    text-align: center;
    font-weight: unset;
}
  
table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    height: 50px;
}
