@font-face {
    font-family: Courgette;
    src: url(../Courgette/Courgette-Regular.ttf);
}

.blog_1 img,
.blog_2 img,
.blog_3 img,
.blog_4 img,
.blog_5 img,
.blog_6 img,
.blog_7 img,
.blog_8 img,
.blog_9 img,
.blog_10 img,
.blogfirst img,
.blogsecond img {
    width: 550px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    bottom: 10px;
    left: 15px;
}

.blogfirst img,
.blogsecond img {
    margin-top: 10px;
}

.blog {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 50px;
    text-align: center;
}

.blog p {
    width: 80%;
    position: relative;
    left: 50px;
}

/* blog1 */

.blogfirst_1 img,
.blogsecond_1 img,
.blog1_1 img,
.blog2_1 img,
.blog3_1 img,
.blog4_1 img,
.blog5_1 img,
.blog6_1 img,
.blog7_1 img,
.blog8_1 img,
.blog9_1 img,
.blog10_1 img {
    width: 80%;
    height: 600px;
    border-radius: 8px;
    object-fit: cover;
    margin: 20px 0px 20px 180px;
}

.blogfirst_1,
.blogsecond_1,
.blog1_1,
.blog2_1,
.blog3_1,
.blog4_1,
.blog5_1,
.blog6_1,
.blog7_1,
.blog8_1,
.blog9_1,
.blog10_1 {
   width: 90%;
   padding: 0px 0px 0px 20px;
}

.blogfirst_1 h1,
.blogsecond_1 h1,
.blog1_1 h1,
.blog2_1 h1,
.blog3_1 h1,
.blog4_1 h1,
.blog5_1 h1,
.blog6_1 h1,
.blog7_1 h1,
.blog8_1 h1,
.blog9_1 h1,
.blog10_1 h1 {
    font-family: Courgette;
    color: #fc548c;
    padding: 10px 0px 0px 230px;
    font-size: 30px;
}

.blog2_1 h1,
.blog3_1 h1,
.blog6_1 h1,
.blog7_1 h1,
.blog8_1 h1,
.blog9_1 h1 {
    padding: 0px 0px 0px 350px;
}


.blogfirst_1 li,
.blogsecond_1 li,
.blog1_1 li,
.blog2_1 li,
.blog3_1 li,
.blog4_1 li,
.blog5_1 li,
.blog6_1 li,
.blog7_1 li,
.blog8_1 li,
.blog9_1 li,
.blog10_1 li{
    margin-left: 110px;
    font-size: 22px;
}


.blogfirst_1 p,
.blogsecond_1 p,
.blog1_1 p, 
.blog2_1 p,
.blog3_1 p,
.blog4_1 p,
.blog5_1 p,
.blog6_1 p,
.blog7_1 p,
.blog8_1 p,
.blog9_1 p,
.blog10_1 p{
    font-size: 22px;
    margin-left: 80px;
    text-align: justify;
}


.blogfirst_1 h3,
.blogsecond_1 h3,
.blog1_1 h3,
.blog2_1 h3,
.blog3_1 h3,
.blog4_1 h3,
.blog5_1 h3,
.blog6_1 h3,
.blog7_1 h3,
.blog8_1 h3,
.blog9_1 h3,
.blog10_1 h3{
    font-size: 28px;
    margin-left: 80px;
    text-align: justify;
}  