@font-face {
    font-family: Courgette;
    src: url(../Courgette/Courgette-Regular.ttf);
}

.shop_first img {
    margin-left: 20px;
    width: 50%;
    height: 500px;
    float: left;
    object-fit: cover;
    border-radius: 8px;
}

.shop_first_clear {
    clear: both;
}

.shop_list li {
    position: relative;
    left: 30px;
    top: 20px;
    width: 90%;
    text-align: justify;
}