@font-face {
    font-family: Courgette;
    src: url(../Courgette/Courgette-Regular.ttf);
}

.shop_first img {
    margin-left: 50px;
    width: 60%;
    height: 480px;
    float: left;
    object-fit: cover;
    border-radius: 8px;
}

.shop_first_clear {
    clear: both;
}

.shop_first p {
    font-size: 23px;
    font-family: Courgette;
    position: relative;
    left: 30px;
    top: 30px;
    width: 90%;
    text-align: justify;
}