@font-face {
    font-family: Courgette;
    src: url(../Courgette/Courgette-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 100px;
    height: 70px;
    margin-top: 5px;  
    margin-left: 40px;
}

.brand_name {
    position: absolute;
    top: 28px;
    left: 40px;
    font-family: Courgette;
    font-size: 20px;
    color: #f37da4;
}

.navbar ul {
    float: right;
}

.navbar div {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #f37da4;
    letter-spacing: 4px;
    transition-duration: 0.6s;
}

.bunner {
    margin-top: -10px;
}

.bunner img {
    width: 100%;
    height: 500px;
    z-index: 2;
}

.bunner_text {
    position: absolute;
    top: 180px;
    left: 300px;
    z-index: 1;
}

.bunner_text h1 {
    font-family: Courgette;
    font-weight: unset;
    margin-bottom: 15px;
}

.shop_now {
    border: 1px solid #f37da4;
    color: #f37da4;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}

.shop_now:hover {
    background-color: #f37da4;
    color: white;
    cursor: pointer;
}

.product_header {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-family: Courgette;
}

.divided {
    width: 100px;
    margin: auto;
    border: 0.5px solid #f37da4;
}

.product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    grid-gap: 40px;
    text-align: center;
}

.product_img {
    width: 215px;
    height: 264px;
    border-radius: 5px;
    object-fit: cover;
}

.add_to_cart {
    width: 90px;
    height: 30px;
    border-radius: 12px;
    color: white;
    background-color: #f37da4;
    padding: auto;
    border: 1px solid #fc548c;
}

.add_to_cart:hover {
    cursor: pointer;
    background-color: #fc397a;
}

.discount {
    color: red;
    font-size: 13px;
    text-decoration: line-through;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.amount {
    font-size: 17px;
    font-weight: bold;
    margin-top: -5px;
    color: #f86395;
}

.img_footer {
    margin-top: 50px;
    width: 100%;
    height: 250px;
}

.rose div {
    font-size: 20px;
    text-align: center;
}

.rose div hr {
    width: 100px;
    margin: auto;
    border: 1px solid black;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 80px;
    position: absolute;
    top: 1600px;
    left: 80px;
}

.rose div {
    font-size: 25px;
    font-weight: 400;
}

.pack {
    margin-top: 50px;
    margin-left: 50px;
}

.pack_img {
    width: 500px;
    height: 450px;
    float: left;
    margin-left: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.float_word {
    margin-left: 100px;
} 