a:link {
    color: rgb(31, 177, 12);
}

a:hover {
    color: rgb(209, 4, 130);
}

a:active {
    color: blue;
}

a:visited {
    color: rgb(12, 57, 206);
}

:target {
    color: rgb(219, 19, 19);
    border: 1px solid black;
}